{% include 'front.html' %}

<div class="row" style="margin:50px 0">
	<div class="col-md-12">
		<form action="{{ url_for('visualize') }}" method="post">
		<select style="height:50px" class=form-control id=dataset name="dataset">
		<option value="0"  selected style="display:none">Select a dataset</option>
		</select>
		<select style="height:50px" class="form-control" id="root_node" name="root_node">
		<option value="0" selected style="display:none">Root Symbol</option>
		</select>
		<select style="height:50px" class=form-control id="min_score" name="min_score">
			<option value="0.0001" selected style="display:none">Min Relationship Strength</option>
			<option value="0.5">0.5</option>
			<option value="0.2">0.2</option>
			<option value="0.1">0.1</option>
			<option value="0.05">0.05</option>
			<option value="0.02">0.02</option>
			<option value="0.01">0.01</option>
			<option value="0.001">0.001</option>
			<option value="0.0001">0.0001</option>
		</select>
		<select style="height:50px" class=form-control id="max_depth" name="max_depth">
			<option value="3"  selected style="display:none">Max Branch Depth</option>
			<option value="3">3</option>
			<option value="2">2</option>
			<option value="1">1</option>
		</select>
		<select style="height:50px" class=form-control id="branches" name="branches">
			<option value="0" selected style="display:none">Max Branches</option>
			{% for i in range(1, 11) %}
				<option value={{i}}>{{i}}</option>
			{% endfor %} 
			<option value="0">Max</option>
		</select>
		<select style="height:50px" class=form-control id="nodes" name="nodes">
			<option value="50" selected style="display:none">Max Nodes</option>
			{% for i in range(1, 51) %}
				<option value={{i}}>{{i}}</option>
			{% endfor %} 
		</select>
		<input type="submit" name="submit" id="submit" disabled value="Visualize Dataset" style="margin-top:50px">
		</form>
	</div>
</div>
<script>
"use strict";
const datasets = {{dataset | tojson }};
let form = $('form');
const dataset= $('select#dataset');
let root_node = $('select#root_node');
$('form').each(function() {
	this.reset();
});
$(window).bind("pageshow", function() {
	form[0].reset();
	$("#root_node").find("option").remove().end().append('<option value="0" selected style="display:none">Root Node</option>').val("0");
	$('#dataset').one('change', function() {
   	$('#submit').prop('disabled', false);
	});

});


for (var key in datasets) {
	dataset.append($('<option/>', {'value': key, 'text': key}));
}

dataset.change(function(ev) {
root_node.empty();
root_node.append($('<option/>'));

	let root_nodes = datasets[dataset.val()];

	for (var i in root_nodes) {
		root_node.append($('<option/>', {'value': root_nodes[i], 'text': root_nodes[i]}));
	}
	$("#root_node").find("option:first").remove();
});

</script>

{% include 'back.html' %}
