{% include 'front.html' %}


<p>Please select the parameters below</p>
<div class="row" style="margin:50px 0">
	<div class="col-md-12">
		<form action="graph" method="POST">
		<input type="radio" name="labels" id="rows" value="rows" > Rows<br>
		<input type="radio" name="labels" id="columns" value="columns"> Columns<br>
		<select style="height:50px" class=form-control id="dataset" name="dataset">
		<option value="0"  selected style="display:none">Select a dataset</option>
		</select>
		<select style="height:50px" class="form-control" id="root_node" name="root_node">
		<option value="0" selected style="display:none">Root Node</option>
		</select>
		<select style="height:50px" class=form-control id="min_score" name="min_score">
			<option value="0.0001" selected style="display:none">Min Relationship Strength</option>
			<option value="0.5">0.5</option>
			<option value="0.2">0.2</option>
			<option value="0.1">0.1</option>
			<option value="0.05">0.05</option>
			<option value="0.02">0.02</option>
			<option value="0.01">0.01</option>
			<option value="0.001">0.001</option>
			<option value="0.0001">0.0001</option>
		</select>
		<select style="height:50px" class=form-control id="max_depth" name="max_depth">
			<option value="3"  selected style="display:none">Max Branch Depth</option>
			{% for i in range(1, 6) %}
				<option value={{i}}>{{i}}</option>
			{% endfor %} 
			<option value="5">Max</option>
		</select>
		<select style="height:50px" class=form-control id="branches" name="branches">
			<option value="3" selected style="display:none">Max Branches</option>
			{% for i in range(1, 11) %}
				<option value={{i}}>{{i}}</option>
			{% endfor %} 
			<option value="10">Max</option>
		</select>
		<select style="height:50px" class=form-control id="nodes" name="nodes">
			<option value="50" selected style="display:none">Max Nodes</option>
			{% for i in range(1, 101) %}
				<option value={{i}}>{{i}}</option>
			{% endfor %}
			<option value="100">Max</option>
		</select>
		<br>
		<br>
		<input type="submit" disabled name="submit" id="submit" value="Visualize Dataset" style="margin-top:50px">
		</form>
	</div>
</div>
<script>
"use strict";
const datasets = {{dataset | tojson }};
let form = $('form');
let dataset = $('select#dataset');
let labels = $('select#labels');
let root_node = $('select#root_node');

/*$('form').each(function() {

	this.reset();

});*/

$(window).bind("pageshow", () => {
	form[0].reset();
	$('#dataset').val(Object.keys(datasets)[0]);
	$("#root_node").find("option").remove().end().append('<option value="0" selected style="display:none">Root Node</option>').val("0");
	$('input[type=radio]').click( () => {
   		$('#submit').prop('disabled', false);
	});

});


for (let key in datasets) {
	dataset.append($('<option/>', {'value': key, 'text': key}));
}
//$('#root_node').val(datasets[Object.keys(datasets)[0]]["rows"]);


$('#dataset').val(Object.keys(datasets)[0]);

const onChange = () => {
	let labels;
	if (document.getElementById("rows").checked) {
  		labels = "rows"
	}
	else
		labels = "columns"


	root_node.empty();
	root_node.append($('<option/>'));

	let root_nodes = datasets[dataset.val()][labels];
	for (let i in root_nodes) {
		root_node.append($('<option/>', {'value': root_nodes[i], 'text': root_nodes[i]}));
	}
	$("#root_node").find("option:first").remove();

}
onChange();
document.getElementById("dataset").addEventListener("change", onChange);
$('input[type=radio]').click(onChange);


</script>
{% include 'back_button.html' %}
{% include 'back.html' %}
